<template>
  <main>
    <article v-for="(post, index) in posts" :key="`post-${post.id}`">
      <h3>
        {{ post.title }}
      </h3>
      <p>
        {{ post.body }}
      </p>
      <button @click="getComments(index)">
        Комментарии
      </button>
      {{ post.comments }}
    </article>
  </main>
</template>

<script>
export default {
  name: 'IndexPage',
  data: () => ({
    posts: []
  }),
  async fetch() {
    const result = await fetch('https://jsonplaceholder.typicode.com/posts')
    this.posts = await result.json()
  },
  methods: {
    async getComments(index) {
      const post = this.posts[index]
      const result = await fetch(`https://jsonplaceholder.typicode.com/posts/${post.id}/comments`)
      this.posts[index].comments = await result.json()
      this.$forceUpdate()
    }
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

main {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

main > article {
  padding: 1vw;
  background-color: #eee;
  width: 30%;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
</style>
